  <div class="wide">
      <div class="col-xs-5"></div>
      <div class="col-xs-8 logo"><h1>Reeally!</h1></div>
      <div class="col-xs-5"><p>On demand Real Estate showings for Sale By Owner Sellers!</p></div>
      <div class="col-xs-8">
        <p>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success"  %>
        </p>
      </div>
  </div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h2>Example body text</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>Example body text</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>Example body text</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
</div>
