
<div class="wide">
    <div class="col-xs-5"></div>
    <div class="col-xs-8 logo"><h1>Reeally!</h1></div>
    <div class="col-xs-5"><p>On demand Real Estate showings for For Sale By Owner Sellers!</p></div>
    <div class="col-xs-8"><p><a class="btn btn-success btn-lg">Learn more</a></p></div>

</div>


