  <div class="wide">
      <div class="col-xs-5"></div>
      <div class="col-xs-8 logo"><h1>Reeally!</h1></div>
      <div class="col-xs-5"><p>On demand Real Estate showings for Sale By Owner Sellers!</p></div>
      <div class="col-xs-8">
        <p>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success"  %>
        </p>
      </div>
  </div>
<div class="row">
  <div class="col-xs-6 col-md-4">
    <h2>It's Easy</h2>
    <p>The days of paying 5% of your home's selling price are over. List your home on Zillow or Trulia, get leads, we'll be there to help you sell it!</p>
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>It's Convenient</h2>
    <p>Now you have the freedom to live to the fullest, even while selling your home yourself. Our certified agents will handle any appointments that you schedule and help you close the sale.
  </div>
  <div class="col-xs-6 col-md-4">
    <h2>It's Safe</h2>
    <p>All of our agents are vetted to be real estate sales experts and go through a 15 step screening process. You can rest asured that your home is in good hands.</p>
  </div>
</div>
